{% extends 'base.html' %}

{% block title %}Outcome{% endblock %}

{% block content %}

<div class="row pt-5 pb-3" id="quizz-header">
    <div class="col">
        <h3>Question <span class="text-muted">{{ player.current_question }}</span> of <span class="text-muted">{{ game.questions | length }}</span></h3>
    </div>
    <div class="col text-end">
        <h3>Score <span class="text-muted">{{ player.score }} point</span></h3>
    </div>
</div>

<hr>
<div class="row gap-2">
    <div class="col"></div>
     <div class="col">
        {% if player.current_attempt.outcome == 1 %}
        <h2 class="pb-5"> Correct!
            <span class="badge bg-success">+ {{player.current_attempt.question_score}} Points</span>
        </h2>
        {% elif player.current_attempt.outcome == 2 %}
        <h2 class="pb-5"> Oops...
            <span class="badge bg-danger"> No Points For You </span>
        </h2>
        {% elif player.current_attempt.outcome == 3 %}
        <h2 class="pb-5"> Time's Up!
            <span class="badge bg-warning"> No Points For You </span>
        </h2>
        {% endif %}
        {% if player.current_streak == 0 %}
        <h3 class="pb-5">Streak Extinguished... 🧯</h3>
        {% elif player.current_streak > 1 %}
        <h3 class="pb-5">Streak! 🔥 {{ player.current_streak }}</h3>
        {% endif %}
        <h3 class="pb-5">Score so far: {{ player.score }}</h3>
     </div>
     <div class="col"></div>
 </div>

{% if is_last_question %}
<a class="btn btn-lg btn-success w-100" href="{{ url_for('game.end', game_id=game.game_id) }}">Finish</a>
{% else %}
<a class="btn btn-lg btn-info w-100" href="{{ url_for('game.play', game_id=game.game_id) }}">Continue</a>
{% endif %}

<hr>
<p id="footer" class="text-muted">Game ID - <code>{{ game.game_id }}</code></p>

<script>
    startOutcomeTimer("{{ game.game_id }}", {{ 'true' if is_last_question else 'false' }})
</script>
{% endblock %}
