{% extends 'base.html' %}

{% block title %}Join game{% endblock %}

{% block content %}


<h3 class="pt-5">Join game</h3>

<hr>
{% if error %}
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Uh oh!</strong> {{ error }}
</div>
{% endif %}
<div class="row gap-2">
   <div class="col"></div>
    <div class="col">
        <form action="{{ url_for('game.join', game_id=game_id) }}" method="POST">
            <fieldset>
              <div class="form-group">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
              </div>
        
              <button type="submit" class="btn btn-primary mt-3 text-center">Join</button>
            </fieldset>
        </form>    
    </div>
    <div class="col"></div>
</div>
<hr>
<p id="footer" class="text-muted">Game ID - <code>{{ game_id }}</code></p>
{% endblock %}
