{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div style="margin: auto 0">
<img src="static/wahoot_logo.svg" alt="Wahoot Logo" style="max-height:200px;margin:10px auto 20px;display:block;"></img>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col col-lg-3">
        <form action="{{ url_for('game.start') }}" method="POST">
            <div class="d-grid gap-2">
                <div class="form-group">
                    <label for="diff" class="form-label mt-4">Difficulty</label>
                    <select class="form-select" id="diff" name="diff">
                        <option value="-1">Mixed</option>
                        <option value="0">Easy</option>
                        <option value="1">Medium</option>
                        <option value="2">Hard</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success btn-lg">Start a game</button>
                <hr>
                <a href="{{ url_for('menu.history') }}" class="btn btn-info btn-lg">Game History</a>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}